<!-- 
	TODO

		Icon WWW
		Icon Insta
		Character
		React integration
 -->


{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Arnaud's Resume</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.min.css"> -->

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/gif" sizes="16x16">

</head>

<style type="text/css">
	@font-face {
	  	font-family: "8bit_wonder";
	  	src: url("{% static 'font/8bit_wonder/8-BIT WONDER.TTF' %}");
	}
</style>

<body>

	<div id="core">

		<div id="background" class="parallax">

			<div id="stars"></div>
		</div>

		<div id="foreground">

			<div class="foreground-glitch">
				
				<div id="titles">
					<div class="name">
						<img src="{% static 'img/Names.png' %}">
					</div>

					<div class="title">
						<p>Front-end Web Developer</p>
					</div>
				</div>

				<div id="messages">

					<div id="msg-box-list">
						<div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu lorem sodales diam lobortis mollis sit amet in ipsum.</div>

						<div class="message">Praesent dignissim sem sed est ultrices, vel sagittis nulla consectetur.</div>

						<div class="message">Nam mollis mauris orci, a vehicula massa scelerisque sit amet. Curabitur gravida nulla in ornare ullamcorper.</div>

						<div class="message">Nam eget diam ipsum. Pellentesque convallis ante dui, bibendum eleifend nibh malesuada vel.</div>

						<div class="message">Aliquam eleifend risus at est scelerisque, sit amet porta augue rutrum. In a dictum justo.</div>
					</div>

					<div id="msg-box" class="message active"></div>
				</div>
			</div>


			<div id="about-me">

				<div class="texts">
					<p class="paragraph">Salut, je m’appelle Arnaud. J’étudie actuellement la programmation en Python avec une spécialisation web.</p>

					<p class="paragraph">Mon objectif est et de tirer le maximum de ce l’informatique peut offrir.</p>

					<p class="paragraph">Autodidacte, j’ai découvert la programmation à 14 ans avec le C. J’apprends vite et je suis constamment à la recherche de nouvelles connaissances.</p>

				</div>
			</div>


			<!-- Rocket BG -->
			<div id="rocket">
				<div id="rocket-glitch" class="parallax"></div>
			</div>


			<!-- Socials -->
			<div id="socials">
				
				<!---->
				<ul class="flex-list flex-list-row justify-center icons">

					<li class="flex-list-item icon">
						<a href="#" target="_blank">
							<img src="{% static 'img/socials/facebook-8bit.png' %}">
						</a>
					</li>

					<li class="flex-list-item icon">
						<a href="#" target="_blank">
							<img src="{% static 'img/socials/instagram-8bit.png' %}">
						</a>
					</li>

					<li class="flex-list-item icon">
						<a href="#" target="_blank">
							<img src="{% static 'img/socials/twitter-8bit.png' %}">
						</a>
					</li>

					<li class="flex-list-item icon">
						<a href="#" target="_blank">
							<img src="{% static 'img/socials/github-8bit.png' %}">
						</a>
					</li>

					<li class="flex-list-item icon">
						<a href="#" target="_blank">
							<img src="{% static 'img/socials/linkedin-8bit.png' %}">
						</a>
					</li>
				</ul>
				

				<div class="texts">					
					<p class="paragraph">Contactez moi via mes réseaux sociaux</p>
				</div>
			</div>


			<div id="skills">
				
				<div class="skills-group">

					<div class="skills-tab">

						<div class="retro-borders">
							
							<div class="b1">

								<div class="b2">

									<table>
										<thead>
											<tr>
												<th></th>
												<th>Skill</th>
												<th>Level</th>
												<th>Type</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td><div class="arrow arrow-right"></div></td>
												<td>HTML</td>
												<td>
													<span class="high">High</span>
												</td>
												<td>
													<span class="web">Web</span>
												</td>
											</tr>

											<tr>
												<td><div class="arrow arrow-right"></div></td>
												<td>CSS</td>
												<td>
													<span class="high">High</span>
												</td>
												<td>
													<span class="web">Web</span>
												</td>
											</tr>

											<tr>
												<td><div class="arrow arrow-right"></div></td>
												<td>Javascript</td>
												<td>
													<span class="high">High</span>
												</td>
												<td>
													<span class="web">Web</span>
												</td>
											</tr>

											<tr>
												<td><div class="arrow arrow-right"></div></td>
												<td>Python</td>
												<td>
													<span class="medium">Medium</span>
												</td>
												<td>
													<span class="web">Web</span>
													<span>/</span>
													<span class="desktop">Desktop</span>
												</td>
											</tr>

											<tr>
												<td><div class="arrow arrow-right"></div></td>
												<td>C++</td>
												<td>
													<span class="medium">Medium</span>
												</td>
												<td>
													<span class="desktop">Desktop</span>
												</td>
											</tr>

											<tr>
												<td><div class="arrow arrow-right"></div></td>
												<td>React</td>
												<td>
													<span class="low">Low</span>
												</td>
												<td>
													<span class="web">Web</span>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
								
							</div>
						</div>


					</div>

					<div class="skills-texts">

						<div class="retro-borders">

							<div class="b1">

								<div class="b2">

									<div class="texts">
										<p class="paragraph">Je suis encore un développeur junior, mais je programme depuis des années. Le C et l’HTML furent mes premiers langages.</p>

										<p class="paragraph">Je m’y connais bien en technologie web, excepté Node et React qui sont nouveaux pour moi.</p>

										<p class="paragraph">J’ai une très bonne capacité d’analyse et j’apprend vite. J’ai le sens de l’équipe et je suis impatient de faire de nouvelles connaissances.</p>
									</div>

								</div>

							</div>
						</div>

					</div>

				</div>
			</div>


			<div id="pdfs">

				<div class="texts">
					<!-- <p class="paragraph">Feel free to download my resume</p> -->
					<p class="paragraph">Mes C.V.</p>
				</div>

				<ul class="flex-list flex-list-row justify-center icons">

					<li class="flex-list-item icon">
						<a href="{% static 'assets/Resume_EN.pdf' %}" target="_blank" download>
							<img src="{% static 'img/icons/PDF-8bit.png' %}">
							<span>EN</span>
						</a>
					</li>

					<li class="flex-list-item icon">
						<a href="{% static 'assets/Resume_FR.pdf' %}" target="_blank" download>
							<img src="{% static 'img/icons/PDF-8bit.png' %}">
							<span>FR</span>
						</a>
					</li> 
				</ul>				
			</div>


			<div id="galaxy" class="parallax"></div>


			<div id="projects" class="section">

				<h3 class="section-title">Mes projets</h3>

				<!-- SCIFI NAV By Rafael González -->
				<!-- https://codepen.io/rgg/pen/MpMmmP -->
				<div class="scifi-nav-contener">
					
					<div class="scifi-nav">

						<div class="scifi-nav__system">

							<!-- <li class="scifi-nav__orbit">
								<a class="scifi-nav__satellite" href="javascript:void(0)">
									<span class="scifi-nav__label"> -->
										<!-- JS -->
										<!-- <span class="scifi-nav__description">Difficulty level 0</span> -->
									<!-- </span>
								</a>
							</li> -->

						</div>

						<div class="hologram"></div>
						
					</div>
				</div>


				<div class="scifi-nav-modal">

					<div class="modal__bg"></div>

					<div class="tablet">

						<div class="content">
							
							<div class="b1">

								<div class="glitches">
									
									<div class="top"></div>
									<div class="left"></div>
									<div class="right"></div>
									<div class="bottom"></div>
								</div>

								<div class="b2">

									<div class="camera"></div>

									<div class="screen">

										<div class="project">

											<div class="project__header">
												
												<h3 class="project__title">Adapei</h3>
											</div>

											<div class="project__body">

												<div class="project__image">
													<img src="{% static 'img/sun.gif' %}">
												</div>

												<div class="project__desc">
													<p class="paragraph">Aliquam tincidunt arcu turpis, a rutrum sapien pretium at. Sed hendrerit quis felis at feugiat. Nullam hendrerit, augue eu faucibus aliquet, leo ipsum pulvinar sapien, id porta mauris justo ut mauris.</p>
												</div>

												<div class="project__tags"></div>

												<div class="project__links">
													
													<a class="project__links__item" href="#" target="_blank">
														<img src="{% static 'img/icons/Github.png' %}">
													</a>
													<a class="project__links__item" href="#" target="_blank">
														<img src="{% static 'img/icons/www.png' %}">
													</a>
												</div>
											</div>
											
										</div>
									</div>

									<div class="buttons">
										<div class="buttons__prev"><</div>
										<div class="buttons__close"></div>
										<div class="buttons__next">></div>
									</div>
									
								</div>
								
							</div>
						</div>							
					</div>					

				</div>

			</div>


			<div id="satellite">
				<img src="{% static 'img/satellite.gif' %}">
			</div>


			<div id="contacts" class="section">

				<h3 class="section-title">Contactez moi</h3>
				<p class="paragraph important">(Pas encore prêt :)</p>

				<form action="" method="POST">

					{% csrf_token %}
					
					<input type="email" name="contact__mail" placeholder="E-mail">

					<input type="text" name="contact__object" placeholder="Object">

					<textarea name="contact__message" rows="10"
							  placeholder="Ecriver ici"></textarea>

					<input type="submit" name="contact__submit" value="ENVOYER" disabled>
				</form>
			</div>


			<div id="antenne">
				<img src="{% static 'img/antenne.gif' %}">
			</div>

			<div id="test"></div>
			

			<div class="foreground-glitch">
				
				<div id="titles">
					<div class="name">
						<img src="{% static 'img/Names.png' %}">
					</div>

					<div class="title">
						<p>Front-end Web Developer</p>
					</div>
				</div>
			</div>

		</div>

	</div>


	<script type="text/javascript" src="{% static 'vendor/jquery-3.3.1/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/particles.js/particles-custom.js' %}"></script>
	<!-- <script type="text/javascript" src="{% static 'vendor/particles.js/particles.min.js' %}"></script> -->

	<script type="text/javascript">
		class EventsStack {
			constructor() {

				/* Event
					callback
					millisecond
					lastTimestamp
					allowRender

				*/
				this._events = [];
			}

			register(callback, millisecond) {
				return this._events.push(
				{
					callback: callback,
					millisecond: millisecond,
					lastTimestamp: 0,
					allowRender: false,
				});
			}

			unregister(id) {
				this._events.splice(id, 1);
			}

			test() {
				console.log(this._events);
			}


			update(timestamp) {
				for (let event of this._events) {
					if ((timestamp - event.lastTimestamp) > event.millisecond) {
						event.lastTimestamp = timestamp;
						event.allowRender = true;
					}
				}
			}

			render() {
				for (let event of this._events) {
					if (event.allowRender) {
						event.callback();
						event.allowRender = false;
					}
				}
			}
		}
		

		class Stars {
			constructor() {
			
				this._run = true;
				this._state = 0;
				this._stars = document.getElementById('stars');
			}

			run(value) {
				this._run = value;
			}

			update() {

				// console.log(this._state);

				if (!this._run)
					return;

				switch (this._state) {

					// Create stars
					// Add fade in effect
					// Wait 2s
					case 0:
						this.create();
						this._stars.classList.add('show');
						this._state = 1;
						break;

					// Do nothing Wait 2s
					case 1:
						this._state = 2;
						break;

					// Fade out stars
					// Wait 2s
					case 2:
						this._stars.classList.remove('show');
						this._state = 3;
						break;


					// Remove stars
					// Wait 2s
					case 3:
						this.remove();
						this._state = 0;
						break;
				}
			}

			create() {
				/*
					From Canvas Night Sky
					By Tamuna
					https://codepen.io/AlienPiglet/pen/hvekG
				*/
				var c = document.createElement('canvas');
					this._stars.appendChild(c);

				var ctx = c.getContext('2d');

				var body = document.querySelector('body'); 

				const xMax = c.width = body.clientWidth;
				const yMax = c.height = body.clientHeight;
			
				const hmTimes = Math.round(xMax + yMax);
					
				for(var i=0; i<=hmTimes; i++) {
				  	var randomX = Math.floor((Math.random()*xMax)+1);
				  	var randomY = Math.floor((Math.random()*yMax)+1);
				  	var randomSize = Math.floor((Math.random()*2)+1);
				  	var randomOpacity = Math.floor((Math.random()*9)+1);
				  	var randomHue = Math.floor((Math.random()*360)+1);

			    	if (randomSize > 1) {
			      		// ctx.shadowBlur = Math.floor((Math.random()*15)+5);
			      		// ctx.shadowColor = "white";
				  	}
			    	
			    	ctx.fillStyle = "hsla("+randomHue+", 30%, 80%, ."+randomOpacity+")";
				  	ctx.fillRect(randomX, randomY, randomSize, randomSize);
				}
			}

			remove() {
				document.querySelector('#stars canvas').remove();
			}
		}


		class MessageBox {
			constructor() {

				this._html_message_box = document.getElementById('msg-box');
				this._html_message_list = document.getElementById('msg-box-list');

				// Messages properties - text and height
				this._message_list = [];
				this._message_list_i = -1;

				// Current message
				this._sentence = '';

				this._wordPerSecond = 30;
				this._timeEndFrame = 2000;
				this._timeBetweenFrames = 2000;

				this._lastTimestamp = 0;

				this._iword = 0;
				this._word = '';


				this._run = true;
				this._state = 0;
				this._allowRender = false;
			}

			init() {

				for (let item of this._html_message_list.children) {
					console.log(item.innerText);
					this._message_list.push({
						height: item.clientHeight,
						innerText: item.innerText,
					});
				}

				// Hide message box list
				this._html_message_list.style.display = 'none';

				// Debug
				// console.log(this._message_list);
			}

			events() {}

			update(timestamp) {
				if (!this._run)
					return;

				switch (this._state) {
					case 0:
						
						// Re-init timestamp
						this._lastTimestamp = 0;
						
						// Re-init indexes
						this._iword = 0;
						this._word = '';
					
						// Next sentence (index)
						if (this._message_list_i < this._message_list.length - 1)
							++this._message_list_i;
						else
							this._message_list_i = 0;

						// Next sentence
						this._sentence = this._message_list[this._message_list_i].innerText;


						// Alter box height
						this.active_box(this._message_list_i);


						// Go to next state
						this._state = 1;
						break;

					// Write Msg
					case 1:
						// 'FPS' counter for words
						if (timestamp - this._lastTimestamp > (1000 / this._wordPerSecond)) {				

							// Get words from current sentence
							if (this._iword < this._sentence.length) {
								this._word = this._sentence[this._iword];
								++this._iword;
							}

							// If sentence is over go to next state
							else {
								this._state = 2;
								// console.log('State 1 end');
							}

							this._allowRender = true;
							this._lastTimestamp = timestamp;
						}
						break;

					// Msg complete - Wait
					case 2:
						if (timestamp - this._lastTimestamp > this._timeEndFrame) {
							// console.log('State 2 end');
							// console.time('Wait');

							this._state = 3;
							this.deactive_box();
							this._lastTimestamp = timestamp;
						}
						break;

					// Time between two frames
					case 3:
						if (timestamp - this._lastTimestamp > this._timeBetweenFrames) {
							// console.timeEnd('Wait');
							// console.log('State 3 end');

							this._state = 0;
							this._lastTimestamp = timestamp;
						}
						break;

					default:
						break;
				}
			}

			render() {
				if (!this._allowRender)
					return;

				switch (this._state) {
					// Write Msg
					case 1:
						this._html_message_box.innerHTML += this._word;
						break;

					// Msg complete - Wait
					case 2:
						break;

					// Fade Msg
					case 3:
						break;

					// Request new Msg
					case 4:
						break;

					default:
						break;
				}

				this._allowRender = false;
			}

			run(value) {
				this._run = value;
				this._allowRender = value;
			}

			active_box(index) {				
				this._html_message_box.innerHTML = '';
				this._html_message_box.style.height = this._message_list[index].height + 'px';
				this._html_message_box.classList.add('active');
			}

			deactive_box() {
				this._html_message_box.classList.remove('active');
			}
		}


		class ScifiNav {
			constructor() {

				this._items = []
				this._i_items = 0;

				this._nav = document.querySelector('#projects .scifi-nav');
				this._nav__system = this._nav.querySelector('.scifi-nav__system');
				this._nav__modal = document.querySelector('#projects .scifi-nav-modal');


				// Modal
				this._modal__bg = this._nav__modal.querySelector('#projects .modal__bg');


				this._tablet__prev = document.querySelector('#projects .buttons__prev');
				this._tablet__close = document.querySelector('#projects .buttons__close');
				this._tablet__next = document.querySelector('#projects .buttons__next');


				// Project
				this._project = document.querySelector('#projects .project');
				this._project__desc = this._project.querySelector('.project__desc p');
				this._project__tags = this._project.querySelector('.project__tags');
				this._project__image = this._project.querySelector('.project__image img');
				this._project__links = this._project.querySelector('.project__links');
				this._project__title = this._project.querySelector('.project__title');

				// Nav Parameters
				this._hsl_step = 30;
				this._size_start = 10;
			}

			/*
				Data structure
					title
					image
					description
					tags[]
					links[]
						type {github, www}
						src

			*/
			add(item) {
				this._items.push(item);
			}


			onclick_event(e) {

				var sender = e.target;
				console.log(sender);

				switch (sender.className) {
					case 'scifi-nav__orbit':
						this.modal_open();

						var count = this._i_items = this.nav_count(sender);
						console.log(count);

						this.tablet_build(this._items[count]);
						break;


					case 'scifi-nav__satellite':
						this.modal_open();

						var count = this._i_items = this.nav_count(sender);
						console.log(count);

						this.tablet_build(this._items[count]);
						break;


					case 'modal__bg':
						this.modal_close();
						break;


					case 'buttons__next':
						this.tablet_change_item(true);
						break;


					case 'buttons__prev':
						this.tablet_change_item(false);
						break;


					case 'buttons__close':
						this.modal_close();
						break;
				}
			}


			// Nav
				// Init nav
				// Build nav dynamically
				nav() {

					var size = this._size_start;
					var that = this;

					for (var i = 0; i < this._items.length; ++i) {
						var item = this._items[i];
						// console.log(item);

						var orbit = document.createElement('li');
							orbit.className = 'scifi-nav__orbit';
							orbit.setAttribute('data-count', i);
							// orbit.style.width = size + 'em';
							// orbit.style.height = size + 'em';
							orbit.onclick = function(e) { that.onclick_event(e); }

							var satellite = document.createElement('a');
								satellite.className = 'scifi-nav__satellite';
								satellite.onclick = function(e) { that.onclick_event(e); }

								var label = document.createElement('span');
									label.className = 'scifi-nav__label';
									label.innerText = item.title;

								satellite.appendChild(label);
							orbit.appendChild(satellite);

						this._nav__system.appendChild(orbit);

						size += 5;
					}

					// Contener size
					const contener = document.querySelector('#projects .scifi-nav-contener');
						  contener.style.padding =  (this._items + 1) + 'em 0px';
				}

				nav_count(sender) {
					switch (sender.className) {
						case 'scifi-nav__orbit':
							return parseInt(sender.getAttribute('data-count'));

						case 'scifi-nav__satellite':
							return parseInt(sender.parentElement.getAttribute('data-count'));

						default:
							return null;
					}
					return null;
				}


			// Modal
				// Init modal
				modal() {
					var that = this;

					this._modal__bg.onclick = function(e) { that.onclick_event(e); }
				}

				modal_open() {
					this._nav__modal.classList.add('active');
				}

				modal_close() {
					this._nav__modal.classList.remove('active');
				}				


			// Tablet
				// Init tablet
				tablet() {
					var that = this;

					this._tablet__next.onclick = function(e) { that.onclick_event(e); }
					this._tablet__prev.onclick = function(e) { that.onclick_event(e); }
					this._tablet__close.onclick = function(e) { that.onclick_event(e); }
				}	

				tablet_build(item) {
					// Title - h3.project_image 
					this._project__title.innerText = item.title;


					// Image - div.project_image img
					this._project__image.src = item.image;


					// Desc - div.project__desc p.paragraph
					this._project__desc.innerText = item.desc;


					// Tags


					// Links - Remove old children + Add new ones
					this._project__links.innerHTML = '';
					for (const link of item.links)
						this._project__links.appendChild(this.tablet_add_link(link));
				}

				tablet_add_link(link) {
					var a = document.createElement('a');
						a.src = link.src;
						a.target = '_blank';
						a.className = 'project__links__item';

					var _src = '';
					switch (link.type) {
						case 'github':
							_src = '{% static "img/icons/Github.png" %}';
							break;

						case 'www':
							_src = '{% static "img/icons/www.png" %}';
							break;
					}
						var img = document.createElement('img');
							img.src = _src;

						a.appendChild(img);

					return a;
				}

				tablet_change_item(next) {
					this._i_items += (next) ? 1 : -1;

					if (this._i_items < 0) {
						this._i_items = this._items.length - 1;
					}
					else if (this._i_items == this._items.length) {
						this._i_items = 0;
					}
					console.log(this._i_items);

					this.tablet_build(this._items[this._i_items]);
				}

				tablet_remove() {}	
		}

		// Fake project items
			var items = [
				{title: 'Adapei', image: '{% static "img/projects/1.gif" %}', desc: 'Aliquam tincidunt arcu turpis, a rutrum sapien pretium at. Sed hendrerit quis felis at feugiat. Nullam hendrerit, augue eu faucibus aliquet, leo ipsum pulvinar sapien, id porta mauris justo ut mauris.', tags: [], links: [{type: 'github', src: '#'}, {type: 'www', src: '#'}]},

				{title: 'Tetris', image: '{% static "img/projects/2.jpg" %}', desc: 'Aliquam tincidunt arcu turpis, a rutrum sapien pretium at. Sed hendrerit quis felis at feugiat. Nullam hendrerit, augue eu faucibus aliquet, leo ipsum pulvinar sapien, id porta mauris justo ut mauris.', tags: [], links: [{type: 'github', src: '#'}]},

				{title: 'Nutella', image: '{% static "img/projects/3.jpg" %}', desc: 'Aliquam tincidunt arcu turpis, a rutrum sapien pretium at. Sed hendrerit quis felis at feugiat. Nullam hendrerit, augue eu faucibus aliquet, leo ipsum pulvinar sapien, id porta mauris justo ut mauris.', tags: [], links: [{type: 'www', src: '#'}]},

				{title: 'Www', image: '{% static "img/projects/4.jpg" %}', desc: 'Aliquam tincidunt arcu turpis, a rutrum sapien pretium at. Sed hendrerit quis felis at feugiat. Nullam hendrerit, augue eu faucibus aliquet, leo ipsum pulvinar sapien, id porta mauris justo ut mauris.', tags: [], links: [{type: 'github', src: '#'}, {type: 'www', src: '#'}]},

				{title: 'Minions', image: '{% static "img/projects/5.jpg" %}', desc: 'Aliquam tincidunt arcu turpis, a rutrum sapien pretium at. Sed hendrerit quis felis at feugiat. Nullam hendrerit, augue eu faucibus aliquet, leo ipsum pulvinar sapien, id porta mauris justo ut mauris.', tags: [], links: [{type: 'www', src: '#'}, {type: 'github', src: '#'}]},

				{title: 'Food', image: '{% static "img/projects/6.jpg" %}', desc: 'Aliquam tincidunt arcu turpis, a rutrum sapien pretium at. Sed hendrerit quis felis at feugiat. Nullam hendrerit, augue eu faucibus aliquet, leo ipsum pulvinar sapien, id porta mauris justo ut mauris.', tags: [], links: [{type: 'www', src: '#'}]},
			]


		// EventsStack Callbacks
			function events_stack_test1() {
				console.log('2s print');
			}

			function events_stack_test2() {
				console.log('4s print');
			}


		var state = 0;
			state = 10;

		var es = new EventsStack();
		var stars = new Stars();
		var msg = new MessageBox();
		var scifi = new ScifiNav();

		function init() {
			var menu = document.getElementById('menu');
			var page = document.getElementById('page');

			var menu__glitch = document.getElementById('menu__glitch');
			var menu__trigger = document.getElementById('menu__trigger');

			var menu__items = document.getElementsByClassName('menu__item');
			var page__items = document.getElementsByClassName('page__item');

			var page__close = document.getElementsByClassName('page__close');


			// Message Box initialization
			msg.init();
			msg.run(true);


			// EventStack registering
			es.register(function() {
				stars.update();
			}, 2000);
			// es.test();


			// Stars
			// stars.run(true);


			// Scifi Nav
			for (const item of items)
				scifi.add(item);
			scifi.nav();
			scifi.modal();
			scifi.tablet();
		}


		function events(timestamp) {}

					
		function update(timestamp) {
			switch (state) {
				case 10:
					es.update(timestamp);
					msg.update(timestamp);
					break;

				default:
					break;
			}
		}


		function render(timestamp) {
			switch (state) {
				case 10:
					es.render();
					msg.render();
					break;

				default:
					break;
			}
		}


		function mainloop(timestamp) {

			events(timestamp);

			update(timestamp);

			render(timestamp);

			requestAnimationFrame(mainloop);
		}

		window.onload = function() {

			init();
			requestAnimationFrame(mainloop);
		}
	</script>
</body>
</html>